.body
{
background-color: #33001a;
font-family: sans-serif;
font-family: 'Exo', sans-serif;
text-shadow: 2px 2px 2px #b30059;
color: white;
}
.message{
	border: none;
	padding: 5px;
	width: 100%;
	height: 100px;	
	color: black;
}
#sendBtn
{
	
	text-align: right;
	
	}
#logoutbtn
{
	margin-right: 25px;
}
#toName:focus
{
	outline: none;
}
.panel
{
	background-color: blue;
}