.body
{
background-color: #33001a;
font-family: sans-serif;
text-shadow: 2px 2px 2px #b30059;
color: white;
}
.message{
	border: none;
	padding: 5px;
	width: 100%;
	height: 100px;
	background-color: #ffbf00;	
	color: black;
}
#sendBtn
{
	
	text-align: right;
	background-color: #ffbf00;
}
#logoutbtn
{
	background-color: #ffbf00;
	}
